@import '../../index.scss';

.input {
  height: 25px;
  width: 100%;
  max-width: 200px;
  padding: 5px;
  border-radius: 6px;
  background-color: lighten($body, 100%);
  border: 1px solid $main;

  &:focus {
    outline: 2px solid $main;
  }
}