@import '../../index.scss';

.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 60px);
  margin: auto;
}

.test__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  min-height: 420px;
  max-height: 500px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: var(--card-primary);
  border: 3px solid var(--main);
  color: var(--text-primary);
  background-repeat: repeat;
  border-radius: 20px;
  box-shadow: 0 0 15px 5px var(--color-secondary-100);
}

@media screen and (min-width: 425px) {
  .test__wrapper {
    width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .test__wrapper {
    width: 400px;
  }
}

@media screen and (max-height: 500px) {
  .test__wrapper {
    transform: scale(0.8);
  }
}

@media screen and (max-height: 412px) {
  .test__wrapper {
    min-height: 110vh;
    max-height: 100vh;
    transform: scale(0.6);
  }
}

.test__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
}

.test__words {
  margin-top: auto;
}

@media screen and (max-height: 500px) {
  .test__words p {
    font-size: 32px;
  }
}

.test__panel {
  margin-bottom: auto;
}

.test__footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
}

.test__to-favourite {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 160px;
  color: var(--text-secondary);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.1s linear;

  &:hover {
    color: var(--main);
  }
}
