@import '../../index.scss';

.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 60px);
  margin: auto;
}

.test__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  height: 420px;
  background-color: $body;
  border: 3px solid $main;
  background-repeat: repeat;
  border-radius: 20px;
  box-shadow: 0 0 15px 5px gray;
}

@media screen and (min-width: 425px) {
  .test__wrapper {
    width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .test__wrapper {
    width: 400px;
  }
}

@media screen and (max-height: 500px) {
  .test__wrapper {
    transform: scale(0.8);
  }
}

@media screen and (max-height: 412px) {
  .test__wrapper {
    min-height: 110vh;
    max-height: 100vh;
    transform: scale(0.7);
  }
}

.test__switcher {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.test__button {
  background-color: $main;
  border: 1px solid $main;
  color: white;

  &:hover {
    color: brown;
  }
}

.test__to-favourite {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  color: brown;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.1s linear;

  &:hover {
    color: $main;
  }
}
