@use '../../index.scss';

.ref {
  display: inline-block;
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.1s linear;
  margin: 5px;

  &:hover {
    color: var(--color-primary);
  }
}

.ref__children {
  min-width: 69px;
  padding: 15px 20px;
  background-color: var(--bgc-primary);
  border: 1px solid var(--main);
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  transition: background-color 0.1s linear;

  &:hover {
    background-color: var(--main);
  }
}
