@import '../../index.css';

.button {
  padding: 20px 30px;
  border-radius: 5px;
  border: 1px solid var(--main);
  background-color: var(--main);
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: var(--color-primary);
  transition: 0.1s linear color;
  cursor: pointer;

  &:hover {
    background-color: var(--color-primary);
    color: var(--main);
  }
}

.button__small {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--body);
  color: var(--main);
  padding: 0;
  border: none;
  cursor: pointer;
  font-size: 12px;

  &:hover {
    color: var(--main);
    background-color: transparent;
  }
}

.button__reverse {
  background-color: var(--color-primary);
  color: var(--text-secondary);

  &:hover {
    background-color: var(--main);
    color: var(--color-primary);
  }
}
