@import '../../index.scss';

.button {
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid darken($blue, 10%);
  background-color: $blue;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: white;
  transition: 0.1s linear color;
  cursor: pointer;

  &:hover {
    color: black;
  }
}
