@import '../../index.scss';

.button {
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid darken($blue, 10%);
  background-color: $blue;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: white;
  transition: 0.1s linear color;
  cursor: pointer;

  &:hover {
    background-color: #fff;
    color: darken($blue, 10%);
  }
}

.button__small {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: $body;
  color: darken($blue, 20%);
  padding: 0;
  border: none;
  cursor: pointer;
  font-size: 12px;

  &:hover {
    color: $blue;
    background-color: transparent;
  }
}

.button__reverse {
  background-color: #fff;
  color: darken($blue, 20%);

  &:hover {
    background-color: $blue;
    color: white;
  }
}