@import '../../index.scss';

.word-editor {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid var(--main);

  &:hover .word-editor__remove {
    transform: scale(1);
  }
}

@media screen and (min-width: 768px) {
  .word-editor {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    padding: 5px 10px 0px 10px;
    border: 1px solid var(--main);
    border-radius: 10px;
    background-color: var(--card-primary);
  }
}

.word-editor__remove {
  top: 40%;
  right: 20px;
  transform: scale(0);
}

@media screen and (min-width: 768px) {
  .word-editor__remove {
    top: -10px;
    right: -10px;
    transform: scale(0);
  }
}

.word-editor__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  font-size: 13px;
  color: var(--text-tertiary);
}
