@import '../../index.scss';

.words-list {
  height: 100%;
}

.words-list__play {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.words-list__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

@media screen and (min-width: 768px) {
  .words-list__container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  .words-list__container {
    justify-content: flex-start;
    width: 950px;
  }
}

.words-list__card {
  margin-bottom: 15px;
  margin-left: 15px;
}

.words-list__card--current {
  box-shadow: 0px 0px 3px 3px $main;
}
