@use '../../index.scss';

.input {
  height: 25px;
  width: 100%;
  max-width: 200px;
  padding: 5px;
  border-radius: 6px;
  background-color: var(--bgc-secondary);
  border: 1px solid var(--main);

  &:focus {
    outline: 2px solid var(--main);
  }
}
