@import '../../index.scss';

.ref {
  display: inline-block;
  color: white;
  text-decoration: none;
  transition: color 0.1s linear;
  margin: 5px;

  &:hover {
    color: white;
  }
}

.ref__children {
  min-width: 69px;
  padding: 15px 20px;
  background-color: lighten($main, 10%);
  border: 1px solid $main;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  transition: background-color 0.1s linear;

  &:hover {
    background-color: darken($main, 5%);
  }
}