@use './variables.scss' as vars;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--body);
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    @include vars.dark-color-vars;
  }
}

@media (prefers-color-scheme: light) {
  body {
    @include vars.light-color-vars;
  }
}

body[data-theme="dark"] {
  @include vars.dark-color-vars;
}

body[data-theme="light"] {
  @include vars.light-color-vars;
}
