@use '../../index.scss';

@keyframes rotate {
  0% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.small-card {
  position: relative;
  width: 300px;
  border-radius: 10px;
  border: 1px solid var(--main);
  color: var(--text-primary);

  box-shadow: 0 0 6px 4px var(--color-secondary-200);
  background-color: var(--card-primary);
  perspective: 1000px;
  transform-style: preserve-3d;

  &:hover .small-card__icon {
    display: block;
  }

  &--changing {
    animation: rotate 0.3s linear;
  }

  &--favourite {
    box-shadow: 0 0 4px 4px orange;
  }
}

.small-card__hide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.small-card__dl {
  margin: 0;
}

.small-card__word {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-weight: bold;

  &::after {
    position: absolute;
    bottom: 3px;
    right: 8px;
    color: var(--color-secondary-100);
    font-size: 8px;
    font-weight: normal;
    content: 'Англ.';
  }
}

.small-card__translate,
.small-card__word {
  padding: 10px;
  line-height: 24px;
}

.small-card__translate {
  position: relative;
  margin: 0;
  border-top: 1px solid var(--main);
  font-weight: normal;

  &::after {
    position: absolute;
    bottom: 3px;
    right: 8px;
    color: var(--color-secondary-100);
    font-size: 8px;
    font-weight: normal;
    content: 'Перевод';
  }
}

.small-card__icon {
  display: none;
  position: absolute;
  right: 4.5px;
  width: 36px;
  height: 36px;
  background-color: var(--main);
  border-radius: 10px;
  border: none;
  z-index: 2;
  transition: opacity 0.1s linear;
  cursor: pointer;

  &:hover {
    background: var(--main);
  }

  svg {
    position: absolute;
    top: 7.5px;
    left: 7px;
    width: 20px;
    fill: var(--color-secondary);
  }

  &:first-of-type {
    top: 4.5px;
  }

  &:last-of-type {
    bottom: 4.5px;
  }
}
