.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #99c7fc;
  box-shadow: -2px -2px 7px 7px lightgray;
}

.header__link {
  font-size: 18px;
  color: white;
  text-decoration: none;
  transition: 0.1s linear color;

  &:hover {
    color: black;
  }

  &:first-child {
    margin-right: 40px;
  }
}