.search {
  height: 30px;
  padding-left: 10px;
  caret-color: white;
  color: white;

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  &::placeholder {
    color: white;
  }
}
