@import '../../index.scss';

.search {
  width: 250px;
  max-width: 100% !important;
}

@media screen and (min-width: 375px) {
  .search {
    width: 300px;
  }
}

.search--open {
  .search__input {
    border-radius: 5px 5px 0 0;
  }

  .search__list {
    display: inline-block;
  }
}

.search__input {
  height: 30px;
  max-width: 350px !important;
  caret-color: var(--color-primary);
  color: var(--color-primary);
  background-color: var(--bgc-primary);

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  &::placeholder {
    color: var(--color-primary);
  }

  &:focus {
    border-radius: 5px 5px 0 0;
  }
}

.search__list {
  position: absolute;
  top: 13px;
  left: 0;
  display: none;
  width: 100%;
  max-height: 90vh;
  overflow-y: scroll;
  list-style-type: none;
  background-color: var(--body-transparent);
  padding: 15px 0;
  z-index: 9;
  border: 1px solid var(--main);
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  &:focus {
    display: block;
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}

.search__input:focus + .search__list {
  display: block;
}

.search__card {
  width: 100%;
  box-shadow: none;
  transform: scale(0.9);
  background-color: var(--card-secondary);
}

.search__empty {
  text-align: center;
  color: var(--main);
  margin: 0;
}
