@import '../../index.scss';

.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  background-color: transparent;
  border: 2px solid var(--main);
  border-radius: 8px;
  color: var(--main);
  cursor: pointer;

  &:hover {
    background-color: var(--main);
    color: var(--body);

    svg {
      fill: var(--body);
    }
  }
}

.logout svg {
  width: 200px;
  height: 32px;
  fill: var(--main);
}
