@import '../../index.scss';

.parts-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.parts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 85vh;
  height: 100%;
  padding: 0 20px;
  margin-bottom: 20px;

  h1 {
    margin-bottom: 50px;
    color: darken($main, 50%);
  }
}

.parts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parts__general {
  width: 100%;
  max-width: 600px;
  margin-bottom: 50px;

  .ref {
    width: 100%;
    margin-right: auto;
  }

  .ref__children {
    width: 100%;
  }
}

.parts__another {
  display: block;
  text-align: center;
  max-width: 600px;
}

.parts__void {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: gray;
}

.parts__link {
  margin-top: 5px;
  text-decoration: none;
  color: darken($main, 20%);
}