$body: aliceblue;
$blue: #99c7fc;

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-color: darken(aliceblue, 2%);
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
}