@import '../../index.scss';

.switcher {
  display: flex;
  height: 16px;
  margin: 0 auto;
  cursor: pointer;
}

.switcher__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
    margin-left: 10px;
  }

  .switcher--primary & svg {
    fill: var(--main);
  }

  .switcher--secondary & svg {
    fill: var(--color-primary);
  }
}

.switcher__checkbox {
  display: none;

  &:checked + .switcher__switch::after {
    left: 15px;
  }
}

.switcher__switch {
  position: relative;
  width: 30px;
  border-radius: 15px;

  &::after {
    position: absolute;
    top: 2px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: left 0.1s linear;
    content: '';
  }

  .switcher--primary & {
    border: 1px solid var(--main);
    &::after {
      background-color: var(--main);
    }
  }

  .switcher--secondary & {
    border: 1px solid var(--color-primary);
    &::after {
      background-color: var(--color-primary);
    }
  }
}
